header{
    background: linear-gradient(#797070,#faf0f0);
}

.logo{
    width: 20%;
    margin-left: 10rem;
}

.cabecario {
    width: 100%;
    margin: 0 auto;
}

nav li{
    display: inline;
    margin: 2rem 3rem 0 0;
    font-size: 2rem;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover{
    color: red;
    text-decoration: underline;
}

nav{
    position: absolute;
    top: 7rem;
    right: 100px;
}

.paisagem {
    width: 100%;
    height: 50em;
}

.corpoIndex {
    background:linear-gradient( #faf0f0, #797070);
}

.titulo {
    text-align: center;
    padding-top: 1em;
    font-size: 3em;
    text-decoration: underline;
    text-shadow: 3px 3px 7px rgb(84, 12, 12);
}

.galeria {
    margin:50px auto;
    width: 90%;
    max-width: 350px;
    height: 30rem;
    position: relative;
    overflow: hidden;
}

.foto {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao {
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.foto:nth-child(1) {

}

.foto:nth-child(2) {
    animation-delay: 5s;
}

.foto:nth-child(3) {
    animation-delay: 10s;
}

.foto:nth-child(4) {
    animation-delay: 15s;
}

.subtitulo{
    width: 70%;
    margin: 0 auto 20px;
    font-size: 2.2em;
    text-align: center;
    text-shadow: 3px 3px 7px rgb(84, 12, 12);
}

.sobreNois {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 70PX;
}

.sobreNois img{
    width: 12rem;
    height: 10vh;
    float: left;
}

.descrição {
    margin: 0 0 0 20px;
    font-size: 1.2em;
}

.rodape {
    background:rgb(30, 26, 26);
    color: white;
    text-shadow: 4px 4px 10px rgb(206, 190, 190);
    text-align: center;
    padding: 60px;
}

h3{
    font-size: 2em;
    margin: 5px auto 50px;
    text-decoration: underline;
}

/* Contatos */

.contatos {
    width: 70%;
    height: 500px;
    margin: 0 0 0 10%;
    padding-top: 100px;
    /*border: 3px solid black; tag para colocar bordas*/
} 

/*Trilhas*/

.tituloTrilhas{
    font-size: 2rem;
    text-align: center;
    margin: 0rem 0 4rem;
}

.mainTrilhas{
    margin-left: 3em;
}

.nomeMunicipios{
    font-size: 2em;
    margin: 0 0 1em 2.5rem;
}

.trilhas{
    font-size: 1.2em;
    margin: 0 0 0.5em 2.5rem;
}

.textoTrilha{
    width: 70%;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-indent: 2rem;

}

.slide{
    display: flex;
    width: 80%;
    margin: 2rem auto 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.4s;
}

.slides{
    width: 1000px;
    max-height: 50rem;
    contain: content;
    display: flex;
    border-radius: 1rem;
}

.image{
    width: 100%;
    object-fit: contain;
    display: flex;
}

#atual{
    transition: all 2s;
}

.btn{
    position: absolute;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: all 0,4s;
    font-size: 3em;
}

.btn:hover{
    transform: acale(1.5);
}

#voltar{
    top: 40rem;
    left: 5rem;   
}

#next{
    top: 40rem;
    right: 5rem; 
}

.balls{
    position: absolute;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: -40rem;
}

.balls div{
    transition: all 0.5s;
    border: 3px solid #fff;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.balls div:hover{
   background: #fff; 
}

.imgAtual{
    transition: all 0.5S;
    background: #fff;
}

.textoFoto{
    width: 55%;
    margin: 0.5rem auto 1rem;
    padding-bottom: 1.5rem;
}

.localizacao{
    display: block;
    margin: auto;
    width: 70%;
    height: 50vh;
}

.textoLocalizacao{
    display: block;
    margin: 0.5rem auto 0rem;
    width: 70%;
    padding-bottom: 4rem;
}

@media screen and (max-width: 480px){
    header{
        display: inline-block;
    }
    .logo{
        margin-left: 1rem;
    }

    nav{
        top: 2rem;
        right: 0.5rem;
    }

    nav li{
        font-size: 1rem;
        margin: 0 0.5rem 0 0;
    }

    .paisagem{
        width: 100vw;
        height: 60VH;
    }

    .sobreNois{
        display: block;
        padding: 0;
        margin: 0 auto;
    }

    #camping{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .descrição{
        margin: 0;
        width: 100%;
        padding: 0 0 2rem 0;
    }
}