body {
    background-color: rgb(182, 182, 223);
}

header{
    display: inline;
    width: 300px;
}


h1{
    position: absolute;
    font-size: 70px;
    margin: 200px 800px 0px 800px ;

}

a{
    position: absolute;
    margin-left: 85%;
    font-size: 50PX;
}

img{
    position: absolute;
    padding-left: 50PX;
    width: 500PX;
}    

.email{
    position: absolute;
    box-sizing: content-box;
    width: auto;
    height: 200PX;
    border-radius: 5PX;
    text-align: center;
}

