header {
    background: rgb(167, 167, 212);
}

.logo {
    width: 30%;
}

.cabecario {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

nav li {
    display: inline;
    font-size: 2.5em;
    margin: 0 40px;
}

nav{
    position: absolute;
    top: 200px;
    right: 100px;
}

.paisagem {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 3.3em;
    margin-top: 1em;
    text-decoration: underline;
    text-shadow: 4px 4px 10px rgb(84, 12, 12);
}

footer {
    background: url("black-brick.jpg");
    color: white;
    text-align: center;
    padding: 70px;

}