header{
    background: rgb(178, 178, 181);
}

.logo{
    width: 30%;
}

.cabecario {
    width: 100%;
    margin: 0 auto;
}

nav li{
    display: inline;
    margin: 10px 40px 0 0;
    font-size: 2.3em;
}

.drop{
    visibility:hidden;
    opacity: ;
    min-width: 5rem;
    transition: all 0.5s ease;


}

li ul li{
    font-size: 0.5em;
    display: block;
    clear: both;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li:hover,
ul li ul:focus{
    visibility: visible;
    opacity: 1;
    display: block;
}


nav a{
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    color: red;
    text-decoration: underline;
}

nav{
    position: absolute;
    top: 155px;
    right: 100px;
}

.paisagem {
    width: 100%;
    height: 45em;
}

.corpoIndex {
    background:linear-gradient( #faf0f0, #797070);
}

.titulo {
    text-align: center;
    font-size: 3.2em;
    margin-top: 1.5em;
    text-decoration: underline;
    text-shadow: 3px 3px 7px rgb(84, 12, 12);
}

.galeria {
    margin:50px auto;
    width: 350px;
    height: 500px;
    position: relative;
    overflow: hidden;
   
}

.foto {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao {
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.foto:nth-child(1) {

}

.foto:nth-child(2) {
    animation-delay: 5s;
}

.foto:nth-child(3) {
    animation-delay: 10s;
}

.foto:nth-child(4) {
    animation-delay: 15s;
}

.subtitulo{
    width: 70%;
    margin: 0 auto 20px;
    font-size: 2.2em;
    text-align: center;
    text-shadow: 3px 3px 7px rgb(84, 12, 12);
}

.sobreNois {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 70PX;
}

.sobreNois img{
    width: 40%;
}

.descrição {
    margin: 0 0 0 20px;
    font-size: 1.2em;
}

.rodape {
    background: url("black-brick.jpg");
    color: white;
    text-shadow: 4px 4px 10px rgb(206, 190, 190);
    text-align: center;
    padding: 60px;
    

}

h3{
    font-size: 2em;
    margin: 5px auto 50px;
    text-decoration: underline;
}

/* Contatos */

.contatos {
    width: 70%;
    height: 500px;
    margin: 3% 0 0 10%;
    /*border: 3px solid black; tag para colocar bordas*/
} 

.e_mail{
    display: inline-flex;
    margin: 5px 0;
}

.e_mail p{
    padding: 60px 15px;
    font-size: 1.5em;
    font-weight: bold;
}

.imgEmail{
    width: 150px;
}